---
import { getAllArticles, getArticleById } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
	const articles = await getAllArticles();
	return articles.contents.map((article) => ({ params: { id: article.id } }));
}
const { id } = Astro.params;
const article = await getArticleById(id);
const { publishedAt, updatedAt, title, content, thumbnail } = article;
---

<Layout>
  <main>
    <Header />
    <h1>{title}</h1>
    <p>publishedAt: {publishedAt}</p>
    <p>updatedAt: {updatedAt}</p>
    {thumbnail && <img src={thumbnail.url} />}
    <div class="article-content" set:html={content}></div>
  </main>
</Layout>

<style>
.article-content {
  /* TODO: Add styles for article contents */
  h2 {
    color: red;
  }
}
</style>
