---
import { getAllArticles, getArticleById } from "../../apis/articles";
import ArticleBody from "../../components/ArticleBody.astro";
import MainSideLayout from "../../layouts/MainSideLayout.astro";

export async function getStaticPaths() {
  const articles = await getAllArticles();
  return articles.contents.map((article) => ({ params: { id: article.id } }));
}
const { id } = Astro.params;
const article = await getArticleById(id);
const { publishedAt, updatedAt, title, content, thumbnail } = article;
const publishedDate = new Date(publishedAt);
const formatDate = (date: Date) => {
  return date.toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    timeZone: "Asia/Tokyo",
  });
};
---

<MainSideLayout title={title}>
  <Fragment slot="main">
    <div class="article-container">
      <h1 class="article-title">{title}</h1>
      <time class="published-date" datetime={publishedDate.toISOString()}>
        {formatDate(publishedDate)}
      </time>
      {thumbnail && <img class="thumbnail" src={thumbnail.url} alt={title} />}
      <ArticleBody htmlContent={content} />
    </div>
  </Fragment>
  <Fragment slot="aside"></Fragment>
</MainSideLayout>

<style>
  .article-title {
    color: #006367;
  }
  .published-date {
    display: block;
    margin-block: 1rem;
  }
  .thumbnail {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
</style>
