---
import { getAllArticles, getArticleById } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const articles = await getAllArticles();
  return articles.contents.map((article) => ({ params: { id: article.id } }));
}
const { id } = Astro.params;
const article = await getArticleById(id);
const { publishedAt, updatedAt, title, content, thumbnail } = article;
const formatDate = (dateString: string) => {
  return new Date(dateString).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    timeZone: "Asia/Tokyo",
  });
};
---

<Layout>
  <main>
    <h1>{title}</h1>
    <p class="published-date">{formatDate(publishedAt)}</p>

    {thumbnail && <img src={thumbnail.url} alt={title} />}
    <div class="article-content" set:html={content} />
  </main>
</Layout>

<style>
  .article-content {
    /* TODO: Add styles for article contents */
    h2 {
      color: red;
    }
  }
</style>
