---
import { getAllArticles, getArticleById } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const articles = await getAllArticles();
  return articles.contents.map((article) => ({ params: { id: article.id } }));
}
const { id } = Astro.params;
const article = await getArticleById(id);
const { publishedAt, updatedAt, title, content, thumbnail } = article;
const formatDate = (dateString: string) => {
  return new Date(dateString).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    timeZone: "Asia/Tokyo",
  });
};
---

<Layout>
  <main>
    <div class="article-container">
      <h1>{title}</h1>
      <p class="published-date">{formatDate(publishedAt)}</p>

      {thumbnail && <img src={thumbnail.url} alt={title} />}
      <div class="article-content" set:html={content} />
    </div>
  </main>
</Layout>

<style>
  .article-container {
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding: 0 1rem;
    @media (min-width: 768px) {
      max-width: 40%;
      padding: 0 2rem;
    }
  }
</style>
