---
import { Image } from "astro:assets";
import type { Article } from "../apis/articles";
import { formatDate } from "../utils/date";
import ArticleBody from "./ArticleBody.astro";
import { getWidthHeight } from "../utils/image-sizing";

export interface Props {
  article: Article;
}

const { article } = Astro.props;
const { publishedAt, title, content, thumbnail } = article;

const publishedDate = new Date(publishedAt);
---

<article>
  <div class="thumbnail-container">
    <Image
      class="thumbnail"
      src={thumbnail.url}
      alt=""
      format="webp"
      quality="high"
      {...getWidthHeight({
        src: thumbnail,
        maxWidth: 1200,
      })}
    />
  </div>
  <div class="article-header">
    <h1 class="article-title">{title}</h1>
    <time class="published-date" datetime={publishedDate.toISOString()}>
      {formatDate(publishedDate)}
    </time>
  </div>
  <ArticleBody htmlContent={content} />
</article>

<style>
  .article-header {
    padding-inline: 1rem;
    margin-block-end: 2rem;
  }

  .article-title {
    margin-block-end: 0.5rem;
    color: var(--cafeore-brown);
  }

  .published-date {
    display: block;
    font-size: 0.9rem;
    color: var(--gray);
  }

  .thumbnail-container {
    margin-block-start: 3rem;
    margin-inline: 1rem;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  @media (width <= 620px) {
    .article-title {
      font-size: 1.5rem;
    }

    .thumbnail-container {
      margin: 0;
    }

    .thumbnail {
      border-radius: 0;
    }
  }
</style>
