---
import type { Article } from "../apis/articles";
import { formatDate } from "../utils/date";
import ArticleBody from "./ArticleBody.astro";

export interface Props {
  article: Article;
}

const { article } = Astro.props;
const { publishedAt, title, content, thumbnail } = article;

const publishedDate = new Date(publishedAt);
---

<article>
  <div class="thumbnail-container">
    <img class="thumbnail" src={thumbnail.url} alt={title} />
  </div>
  <div class="article-header">
    <h1 class="article-title">{title}</h1>
    <time class="published-date" datetime={publishedDate.toISOString()}>
      {formatDate(publishedDate)}
    </time>
  </div>
  <ArticleBody htmlContent={content} />
</article>

<style>
  .article-header {
    padding-inline: 1rem;
    margin-block-end: 2rem;
  }
  .article-title {
    margin-block-end: 0.5rem;
    color: var(--cafeore-brown);
  }
  .published-date {
    display: block;
    color: var(--gray);
    font-size: 0.9rem;
  }
  .thumbnail-container {
    margin-inline: 1rem;
    margin-block-start: 3rem;
  }
  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  @media (max-width: 620px) {
    .article-title {
      font-size: 1.5rem;
    }
    .thumbnail-container {
      margin: 0;
    }
    .thumbnail {
      border-radius: 0;
    }
  }
</style>
