---
import type { Banner } from "../apis/side-banner";
import { getWidthHeight } from "../utils/image-sizing";
import MicroCMSImage from "./MicroCMSImage.astro";
export interface Props {
  banner: Banner;
}

const { banner } = Astro.props;
const { href, externalLink, image, alt } = banner;
---

{
  href ? (
    <a class="banner-link" href={href} target={externalLink ? "_blank" : null}>
      <div class="img-container">
        <MicroCMSImage
          class="banner-img"
          src={image}
          quality="mid"
          maxWidth={600}
          alt={alt}
        />
      </div>
    </a>
  ) : (
    <div class="img-container">
      <MicroCMSImage
        class="banner-img"
        src={image}
        quality="mid"
        maxWidth={600}
        alt={alt}
      />
    </div>
  )
}

<style>
  .banner-link {
    display: block;
    cursor: pointer;
  }

  .img-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
  }

  .banner-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }

  .banner-link:hover .banner-img {
    transform: scale(1.05);
  }

  .banner-link:active .banner-img {
    transform: scale(0.95);
  }
</style>
