---
import { CAFEORE_NAME } from "../consts";
import "../global.css";
export interface Props {
  title?: string;
  ogImageUrl?: string | undefined;
  noIndex?: boolean;
}

const { title: pageTitle, ogImageUrl, noIndex = false } = Astro.props;

const isHome = Astro.url.pathname === "/";
// トップページならサイトタイトルだけ、そうでなければ「ページタイトル | サイトタイトル」とする
const fullTitle = isHome ? CAFEORE_NAME : `${pageTitle} | ${CAFEORE_NAME}`;
const ogType = isHome ? "website" : "article";
---

<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url.href} />
    {ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{fullTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
